<div class="grid">
  <div class="unit content_body">
    <header class="grid record_table_title">
      <div class="unit section_title_container">
        <h1 class="section_title"><%= t('transaction.titles.edit') %></h1>
      </div>
    </header>
    <%= render 'form', transaction: @transaction %>
  </div>
</div>

